table{
    /*border: 1px solid black;*/
    table-layout: fixed;
    width: 200px;
}

th, td {
    /*border: 1px solid black;*/
    overflow-x: auto;
    width: 100px;
}
/*th,td {
  border: 1px solid black;
}*/

#side_bar {
  visibility: hidden;
}

#user_accounts{
  visibility: hidden;
}

#user_payments{
  visibility: hidden;
}
#single_transaction{
  display: none;
}
