[run]
source =
  BunqAPI
  BunqWebApp
  Manager
  apiwrapper
  
omit =
  */config/*
  BunqWebApp/wsgi.py
  Manager/apps.py
  Manager/migrations/*
  BunqAPI/migrations/*
  BunqAPI/apps.py
  *__init__.py*
  *setup.py*
  
