[run]
source =
  BunqAPI
  BunqWebApp
  Manager
  
omit =
  BunqWebApp/wsgi.py
  Manager/apps.py
  Manager/migrations/*
  BunqAPI/migrations/*
  BunqAPI/apps.py
  BunqAPI/callbacks.py
  BunqAPI/pythonBunq/bunq.py
  *__init__.py*
  
