<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load raven %}
    {% load static %}
		<script type='text/javascript' src="{%static "raven-js/dist/raven.min.js"%}"></script>
		<script>Raven.config('{% sentry_public_dsn 'https' %}').install()</script>
    <title>ComBunqWebApp</title>
  </head>
  <body>
    <form enctype="multipart/form-data" class="" action="" method="post">
      {% csrf_token %}
      {{form}}
    <button type="submit" name="button">Log in </button>
    </form>
  </body>
</html>
