 <!-- <meta http-equiv="refresh" content="15" /> -->
 <head> {%load static%}
 	<link rel="stylesheet" href="{%static "Manager/CSS/index.css"%}"/>
 	<script src="{%static "amcharts/dist/amcharts/amcharts.js"%}"></script>
 	<script src="{%static "amcharts/dist/amcharts/pie.js"%}"></script>
 	<script src="{%static "amcharts/dist/amcharts/themes/light.js"%}"></script>
 	<script>
 		data1 = {{simpleData | safe}};
 	</script>
 	<script type='text/javascript' src="{%static "jquery/dist/jquery.min.js"%}"></script>
 	<script type='text/javascript'src="{%static "papaparse/papaparse.min.js"%}"></script>
 	<script type='text/javascript'src="{%static "js-cookie/src/js.cookie.js"%}"></script>
 	<script type="text/javascript" src='{%static 'Manager/JS/index.js'%}'></script>
 	<script>getGraphsDB(data1)</script>
 </head>
<h1>Example from 'API/db'</h1>
<table>
	<tr>
		<th>catagory</th>
		<th>ammount in EUR</th>
		<th>percentage of total income</th>
	</tr> {%for x in data%}
	<tr>
		<td>{{x.0}}</td>
		<td>{{x.1}}</td>
		<td>{{x.2}}</td>
	</tr> {%endfor%} </table>

<div class="container">

	<div id="chartdiv" class="chartdiv"></div>

	<div id="chartdiv2" class="chartdiv"></div>
</div>
<h1>Whitout 'API'</h1>
<div>
	
	<textarea id="input" rows="10">"Datum";"Bedrag";"Rekening";"Tegenrekening";"Naam";"Omschrijving"
"2017-03-31";"-0,01";"NL01BUNQ1234567890";"NL48ABNA0502830042";"Spotify by Adyen";"Payment description"
"2017-03-31";"1,64";"NL01BUNQ1234567890";"NL01BUNQ1234567890";"bunq";"Slice heeft deze request verstuurd voor de groep Family."


#Only dutch headers supported atm
#Only Bunq CSV supported atm, or place 2 columns with headers 'Bedrag'(ammount) and 'Naam'(name)
#Press 'via CSV text' to see this example in action
#Lines that begin with '#' wil be ignored
</textarea>
	<button id='textCSV'>Via CSV text</button>
	<input id='file' type="file" accept=".csv" name="files"/>
	<button id="fileCSV">Via CSV Upload</button>
</div>

<div class="container">
	<div id="chartdiv3" class="chartdiv"></div>
	<div id="chartdiv4" class="chartdiv"></div>
</div>
