 <!-- <meta http-equiv="refresh" content="15" /> -->
<head> {%load static%}
	<link rel="stylesheet" href="{%static "Manager/CSS/index.css"%}"/>
	<script src="{%static "amcharts/dist/amcharts/amcharts.js"%}"></script>
	<script src="{%static "amcharts/dist/amcharts/pie.js"%}"></script>
	<script src="{%static "amcharts/dist/amcharts/themes/light.js"%}"></script>
	<script type='text/javascript' src="{%static "jquery/dist/jquery.min.js"%}"></script>
	<script type='text/javascript'src="{%static "papaparse/papaparse.min.js"%}"></script>
	<script type='text/javascript'src="{%static "js-cookie/src/js.cookie.js"%}"></script>
	<script type='text/javascript'src="{%static "vanilla-datatables/vanilla-dataTables.min.js"%}"></script>
	<script type="text/javascript" src='{%static 'Manager/JS/index.js'%}'></script>
</head>
<h1>input data to DB categorized and back</h1>
<form id='textCSVForm' class="" action="" method="post">
	{% csrf_token %}
	{{from}}
</form>
<button name='' id="textCSV" type="" name="">Via CSV text</button>
<button id="fileCSV">Via CSV Upload</button>

<div class="container">
	<div id="chartdiv0" class="chartdiv"></div>
	<div id="chartdiv1" class="chartdiv"></div>
</div>
<table id="transactionsInfo">
	<!-- NOTE: this table needs to be hidden and unhidden when index.js
						sends data to create it-->
</table>
