 <!-- <meta http-equiv="refresh" content="15" /> -->
<head> {%load static%}
	{% load raven %}
	<script type='text/javascript' src="{%static "raven-js/dist/raven.min.js"%}"></script>
	<script>Raven.config('{% sentry_public_dsn 'https' %}').install()</script>
	<link rel="stylesheet" href="{%static "Manager/CSS/index.css"%}"/>
	<link rel="stylesheet" href="{%static "vanilla-datatables/vanilla-dataTables.min.css"%}"/>
	<script src="{%static "amcharts/dist/amcharts/amcharts.js"%}"></script>
	<script src="{%static "amcharts/dist/amcharts/pie.js"%}"></script>
	<script src="{%static "amcharts/dist/amcharts/themes/light.js"%}"></script>
	<script type='text/javascript' src="{%static "jquery/dist/jquery.min.js"%}"></script>
	<script type='text/javascript'src="{%static "papaparse/papaparse.min.js"%}"></script>
	<script type='text/javascript'src="{%static "js-cookie/src/js.cookie.js"%}"></script>
	<script type='text/javascript'src="{%static "vanilla-datatables/vanilla-dataTables.min.js"%}"></script>
	<script type="text/javascript" src='{%static 'Manager/JS/index.js'%}'></script>
	<link rel="stylesheet" href="{%static "semantic/dist/semantic.min.css"%}"/>
	
</head>
<div class="ui inverted menu ">
	<a class="item" href="../">Home</a>
	<a class="item" href="./">Manager</a>
	<a class="item" href="../my_bunq">My bunq</a>
	<a class="item" href="../generate">Generate</a>
	<div class="right menu">
		<a class="item" href="../account/register">Sign Up</a>
		<a class="item" href="../account/login">Sign in</a>
		<a class="item" href="../account/two_factor">Settings</a>
		<a class="item" href="https://github.com/OGKevin/ComBunqWebApp/wiki">Help</a>
	</div>
</div>
<h1>Filter Bunq transactions</h1>
<form id='textCSVForm' class="" action="" method="post">
	{% csrf_token %}
	{{form}}
</form>
<button name='' id="textCSV" type="" name="">Via CSV text</button>
<button id="fileCSV">Via CSV Upload</button>
<p>To Add/Edit category information click this <a href="./form">link</a></p>
<div class="container">
	<div id="chartdiv0" class="chartdiv"></div>
	<div id="chartdiv1" class="chartdiv"></div>
</div>
<table id="transactionsInfo">
	<!-- NOTE: this table needs to be hidden and unhidden when index.js
						sends data to create it-->
</table>
<div class="ui grid">
  <div class="six wide column">
    
  </div>
  <div class="six wide column">
    <p><a href="https://github.com/OGKevin/ComBunqWebApp"> <i class="github large icon"></i></a>
    
    made with <i class="fa fa-heart" aria-hidden="true"></i> by the bunq API contributors team</p>
  </div>
</div>
