<!-- /*<style media="screen">
  table,
  th,
  td {
    border: 1px solid black;
  }
</style>
<h2 class="ui center aligned icon header">
  <i class="credit card alternative icon"></i>
  Accounts
</h2>
{{#.}} {{#MonetaryAccountBank}}
Description: {{description}}<br> Id: {{id}}<br> Balance: {{balance.value}}<br>
<table>
  <tr>
    <th>Name/Alias</th>
    <th>Type</th>
    <th>Value</th>
  </tr>
  {{#alias}}
  <tr>
    <td>{{name}}</td>
    <td>{{type}}</td>
    <td>{{value}}</td>

  </tr>
  {{/alias}}
</table>
<br>*/ -->
<!-- {{/MonetaryAccountBank}} {{/.}} -->

<header>
  <h2>Accounts</h2>
  <p>These accounts belong to the logged in user </p>
</header>
<table class="ui celled table">
  <thead>
    <tr>
      <th>Name</th>
      <th>ID</th>
      <th>First alias</th>
      <th>Balance</th>
    </tr>
  </thead>
  <tbody>
    {{#.}} {{#MonetaryAccountBank}}
    <tr>
      <td>{{description}}</td>
      <td>{{id}}</td>
      <td>{{alias.0.value}}</td>
      <td>{{balance.currency}} {{balance.value}}</td>
    </tr>
    {{/MonetaryAccountBank}} {{/.}}
  </tbody>
</table>
