<div class="ui fluid icon input">
  <input class="search" type="text" placeholder="Search...">
  <i class="search icon"></i>
</div>
<table class="ui selectable celled table" id="table-trans">
  <thead>
    <tr>
      <th>Date</th>
      <th>Amount</th>
      <th>Payee IBAN</th>
      <th>Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#rows}}
    <tr>
      <td>{{Payment.updated}}</td>
      <td>{{Payment.amount.value}}</td>
      <td>{{Payment.counterparty_alias.iban}}</td>
      <td>{{Payment.counterparty_alias.display_name}}</td>
      <td>{{Payment.description}}</td>
      <td><button class="table-click mini ui secondary button" data-id="{{Payment.id}}" >Details</button> | <button id="export_payment" data-id="{{Payment.id}}" class="mini ui secondary button">Export</button></td>
    </tr>
    {{/rows}}
    <tr>
      <td>
      <button id="payment-next" class=" ui secondary button"><i class="long arrow left icon"></i></button>
    </td>
    <td>
    <button id="payment-prev" class=" ui secondary button"><i class="long arrow right icon"></i></button>
  </td>
    </tr>
  </tbody>
</table>
