 {{#.}} {{#UserCompany}}

 <section class="box">
   <a class="image featured"><img src="/filecreator/download" alt="user avatar" /></a>
   <header>
     <h3 class="ui header">
       <i class="user icon"></i>
       <div class="content">
        {{public_nick_name}}
       </div>
     </h3>
   </header>
   <p>The sessions has started succesfully.
   <br> For this session, {{1.Token.token}} is being used to sign the API calls.
   <br> {{! NOTE: this needs to be in min}} This session will expire in {{session_timeout}} seconds, unless an API call has been made during the last 30 seconds.
   <br>
   User ID: {{id}}
 </p>
 </section>

{{/UserCompany}} {{#UserPerson}}
<section class="box">
  <a class="image featured"><img src="/filecreator/download" alt="user avatar" /></a>
  <header>
    <h3 class="ui header">
      <i class="user icon"></i>
      <div class="content">
       {{public_nick_name}}
      </div>
    </h3>
  </header>
  <p>The session has started succesfully.
  <br> For this session, {{1.Token.token}} is being used to sign the API calls.
  <br> {{! NOTE: this needs to be in min}} This session will expire in {{session_timeout}} seconds, unless an API call has been made during the last 30 seconds.
<br>
User ID: {{id}}

</p>
</section>
{{/UserPerson}} {{/.}}
