 {{#.}} {{#UserCompany}}
<h1>Welcome {{public_nick_name}}</h1>
<p>
  The sessions has started succesfully.
  <br> For this sessions, {{Token.token}} is being used to sign the API calls.
  <br> {{! NOTE: this needs to be in min}} This sessios will expire in {{session_timeout}} seconds. Unless an API call has been made during the last 30 seconds.
</p>
<h1>Users</h1>
<ul>
  <p>
    Name: {{public_nick_name}}
  </p>
  <p>
    UserID: {{id}}
  </p>
</ul>
{{/UserCompany}} {{#UserPerson}}
<h1>Welcome {{public_nick_name}}</h1>
<p>
  The sessions has started succesfully.
  <br> For this sessions, {{Token.token}} is being used to sign the API calls.
  <br> {{! NOTE: this needs to be in min}} This sessios will expire in {{session_timeout}} seconds. Unless an API call has been made during the last 30 seconds.
</p>
<h1>Users</h1>

<ul>
  <p>
    Name: {{public_nick_name}}
  </p>
  <p>
    UserID: {{id}}
  </p>
</ul>
{{/UserPerson}} {{/.}}
