<h2 class="ui center aligned icon header">
  <i class="users icon"></i>
  Users
</h2>

{{#.}} {{#UserCompany}}
<table class="ui very basic collapsing celled table">
  <thead>
    <tr><th>User</th>
    <th>ID</th>
  </tr></thead>
  <tbody>
    <tr>
      <td>
        <h4 class="ui image header">
          <img src="./download/avatar" class="ui mini rounded image">
          <div class="content">
            {{public_nick_name}}
            <div class="sub header">{{status}}
          </div>
        </div>
      </h4></td>
      <td>
        {{id}}
      </td>
    </tr>
  </tbody>
</table>

{{/UserCompany}} {{#UserPerson}}
<table class="ui very basic collapsing celled table">
  <thead>
    <tr><th>User</th>
    <th>ID</th>
  </tr></thead>
  <tbody>
    <tr>
      <td>
        <h4 class="ui image header">
          <img src="./download/avatar" class="ui mini rounded image">
          <div class="content">
            {{public_nick_name}}
            <div class="sub header">{{status}}
          </div>
        </div>
      </h4></td>
      <td>
        {{id}}
      </td>
    </tr>
  </tbody>
</table>
{{/UserPerson}} {{/.}}
