
table{
  table-layout: auto;
  width: 100%;
  
}
table, th, td {
  border: 1px solid black;
}
.chartdiv {
  width: 100%;
  height: 500px;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.container{
  display: flex;
  flex-direction: row;
}
textarea{
  width: 100%
}
h1{
  text-align: center;
  color: black;
}
#transactionsInfo{
  visibility: hidden;
}
body{
  background-image: url('../images/bunq-Desktop.png');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
p{
  text-align: center;
}
