<head>
  {%load static%}
  <script type='text/javascript' src="{%static "js-cookie/src/js.cookie.js"%}"></script>
  <script type='text/javascript' src="{%static "jquery/dist/jquery.min.js"%}"></script>
  <script type='text/javascript' src="{%static "jquery-file-download/src/Scripts/jquery.fileDownload.js"%}"></script>
  <script type='text/javascript' src="{%static "mustache/mustache.min.js"%}"></script>
  <script type='text/javascript' src="{%static "vanilla-datatables/vanilla-dataTables.min.js"%}"></script>
  <script type='text/javascript' src="{%static "vue/dist/vue.common.js"%}"></script>
  <script type='text/javascript' src="{%static "semantic/dist/semantic.min.js"%}"></script>
  <link rel="stylesheet" href="{%static "vanilla-datatables/vanilla-dataTables.min.css"%}"/>
  <link rel="stylesheet" href="{%static "font-awesome/css/font-awesome.min.css"%}"/>
  <link rel="stylesheet" href="{%static "semantic/dist/semantic.min.css"%}"/>

  <!-- NOTE: load the templates used by Mustache -->
  <script>
    var start_session_template = '{%static 'BunqAPI/templates/mustache/start_session.html '%}'
    var ussers_template = '{%static 'BunqAPI/templates/mustache/users.html '%}'
    var accounts_template = '{%static 'BunqAPI/templates/mustache/accounts.html '%}'
    var payments_template = '{%static 'BunqAPI/templates/mustache/payments.html '%}'
    var card_template = '{%static 'BunqAPI/templates/mustache/card.html '%}'
    var register_template = '{%static 'BunqAPI/templates/mustache/register.html '%}'
  </script>

  <script type='text/javascript' src="{%static "BunqAPI/JS/decrypt.js "%}"></script>
  <script type='text/javascript' src="{%static "BunqAPI/JS/vue.js "%}"></script>
  <link rel='stylesheet' href="{%static "BunqAPI/CSS/decrypt.css "%}"/>
</head>

<body id="body">
   <div id="topBar">
     <p>
       <a href="..">
         <--Back</a>
       </p>
    <form enctype="multipart/form-data" method="post" id="encryption_form">
      {{form}}
    </form>
  </div>
  <div class="" id="display">
    <div class="" id="actions">
      <div class="ui input">
        <input type="text" placeholder="user ID" id="userID">
      </div>
      <div class="ui input">
        <input type="text" placeholder="account/card ID" id="accountID">
      </div>
      <div class="ui input">
        <input type="text" placeholder=" page(s) 1,2,3,5...." id="pages">
      </div>
    
    <div class="ui secondary vertical pointing menu">
    <a class="item" id="load_file">
      Load file
    </a>
    <a class="item" id="register">
      Register
    </a>
    <a class="item" id="start_session">
      Start session
    </a>
    <a class="item" id="users">
    Users
    </a>
    <a class="item" id="accounts">
      Accounts
    </a>
    <a class="item" id="payment">
      Payment
    </a>
    <a class="item" id="card">
      Cards
    </a>
    <!-- <a class="item" id='mastercard_action'>
      Mastercard_action
    </a> -->
    <a class="item" id='export_transactions'>
      Export transactions
    </a>
    <a class="item" id='export_invoice'>
      Export invoice
    </a>
  </div>
</div>


    <div class="" id="info">
      <div id="loading"></div>
      <div class="" id="response"></div>
      <table id="response2"></table>
      <div class="" id="response3"></div>
    </div>
  </div>
</body>
